<!-- views/register.ejs -->

<div style="min-width: 320px;" class="d-flex flex-column justify-content-center align-items-center w-25">

  <% if(errorMessages){ %>
    <div class="alert alert-danger">
        <% errorMessages.forEach(error => { %>
            <p><%= error.msg %></p>
        <% }) %>
    </div>
<% } %>
  <h1 class="mt-5 mb-4 header">Register</h1>

  <form style="width: 100%" action="/register" method="post">
    <div class="mb-3">
      <label for="email" class="form-label">Email Address</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>

    <div class="mb-3">
        <label for="name" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>   
    </div>

    <div class="mb-3">
        <select class="form-select" name="type">
            <option selected value="Seeker">Seeker</option>
            <option value="Recruiter">Recruiter</option>
            
          </select>
    </div>
    
    <button type="submit" style="width: 100%" class="btn btn-primary">Register</button>
  </form>

  <div class="mt-2">
    <span>Already signed up?</span>
    <a href="/login">Login</a>
  </div>
</div>